html {
    font-family: PT sans;
    display: grid;
}


header p {
    color: white;
    font-size: 30px;

}

header nav {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

header {
    display: grid;
    background-color: #0084FF;
    grid-template-columns: 1fr 1fr;
    justify-items: end;
    align-items: center;
    margin: -7px;
    margin-bottom: 50px;
}

#demo_app {
    text-align: left;
    margin-left: 25px;
    justify-items: center;
    align-items: center;
}

#demo_app>p {
    line-height: 30px;

}

main article {
    display: grid;
    width: 375pxpx;
}


#app_article {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: left;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 10px;
}


#Appstore {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    border-radius: 25px;

    margin-left: -5px;
    margin-right: 125px;
    padding-right: 65px;
}

#Linkedin {
    display: grid;
    grid-template-columns: 1fr 6fr;
    border-radius: 8px;
    justify-items: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 4px;
}

body>main {
    width: 375px;
}

#icon_article {
    border-radius: 25px;
    margin-top: 20px;
    padding-top: 20px;
    margin-left: -7px;
    margin-right: -7px;
    justify-items: center;
    align-items: center;
}

#icon_article>div {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    border-radius: 25px;
    margin-top: 20px;
    padding-top: 20px;
    margin-left: -7px;
    margin-right: -7px;
    text-align: center;
}

#icon_article>p {
    text-align: center;
}

#Logo {
    justify-self: left;
    align-self: center;
    margin-right: 0px;
    margin-left: 5px;
}

#icon_article>div>p {
    max-width: 80%;
}

#planning_article {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    padding-bottom: 50px;
    margin-top: 70px;
    margin-left: -8px;
    margin-right: -8px;
}

#planning_article>section {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: left;
    width: 80%;
    padding-bottom: 30px;
}

#app_dev {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    max-width: 65%;
    border-radius: 35px;
    padding: 10px;
}

#small_arrow {
    background-color: #9693E6;
    opacity: .75;
    border-radius: 50%;
}

#testimonials>div {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    max-width: 80%;
    text-align: center;
    padding-left: 30px;
    padding-top: 50px;
}



#testimonials article {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    border-radius: 25px;
    margin: 25px;
    padding-top: 20px;
    text-align: center;

}

#testimonials p {
    width: 80%;
}

#leftquote1 {
    margin-left: -270px;
    margin-bottom: -50px;
}

#rightquote1 {
    margin-right: -150px;
    margin-top: -45px;
}

#leftquote2 {
    margin-left: -275px;
    margin-bottom: -55px;
}

#rightquote2 {
    margin-right: -200px;
    margin-top: -45px;
}

#leftquote3 {
    margin-left: -250px;
    margin-bottom: -55px;
}

#rightquote3 {
    margin-right: -145px;
    margin-top: -45px;
}





#working_benefits h1 {
    font-size: 50px;
    margin-bottom: -10px;
    margin-top: 10px;
}

#titlepush {
    margin-bottom: 60px;
    margin-top: 20px;
    text-align: center;
}

#working_benefits>h1 {
    text-align: center;
}

#working_benefits {
    background-color: #9693E6;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: 20px;
    padding-bottom: 40px;
    padding-top: 30px;
}

#working_benefits>article {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: start;
    align-items: start;
    border-radius: 25px;
    margin-bottom: 25px;
    padding-bottom: 10px;
    padding-left: 20px;
}

#more_button>h3 {
    padding-top: 0px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 0px;
    margin-bottom: 0px;

}

#more_button_limit {
    margin-left: -10px;
    border-radius: 20px;
    width: 120px;
    justify-items: start;
    align-items: start;
    text-align: center;
}

#more_button {
    border-radius: 30px;
    margin: 0px;
    padding: 0px;

}

#about_us>h1 {
    font-size: 40px;
}


#about_us>p {
    line-height: 40px;
    margin-bottom: 30px;
}

#bossman {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: left;
    margin-top: 20px;
}

#boss_quote {
    display: grid;
    grid-template-columns: 1fr;
    margin-right: -140px;
}

#left_quote>img {
    margin-left: -40px;
    margin-right: 10px;
}

#get_started>div {

    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    margin-left: -8px;
    margin-right: -8px;
    padding-top: 50px;
    margin-top: 20px;
    padding-bottom: 50px;
}

#started_button {
    border-radius: 30px;
    padding-left: 85px;
    padding-right: 85px;
}


footer {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: -8px;
    padding: 25px;
}

#Pricepush {
    display: grid;
    grid-template-columns: 1fr;
    align-items: start;
    justify-items: center;
    margin-top: -20px;
}

#freepush {
    margin-top: -20px;
    margin-bottom: -15px;
}

#get_started>div>p:nth-child(5) {
    width: 90%;
    text-align: center;
}


.center {
    grid-template-columns: 1fr;
    justify-items: center;
}


.head_shot {
    display: grid;
    border-radius: 50%;
    object-fit: none;
    overflow: hidden;

}

.bold {
    font-weight: bolder;
    font-size: 200px;
}

.dark_green {
    color: #54C788;
}

.light_green_back {
    background-color: #CAF0DB;
}

.dark_red {
    color: #FF8A8A;
}

.light_red_back {
    background-color: #FFD2D2;
}

.dark_yellow {
    color: #FFC166;
}

.light_yellow_back {
    background-color: #FFE7C4;
}

.dark_purple {
    color: #9693E6;
}

.dark_purple_back {
    background-color: #9693E6;
}

.light_purple_back {
    background-color: #D5D4F5;
}

.light_purple {
    color: #D5D4F5;
}

.lighter_purple_back {
    background-color: #e7e6f7;
}

.lighter_purple {
    color: #e7e6f7;
}


.dark_grey {
    color: #333333;
}

.dark_grey_back {
    background-color: #333333;
}

.light_blue {
    color: #B8DDFF;
}

.dark_blue {
    color: #0084FF;
}

.white {
    color: white;
}

.light_blue_back {
    background-color: #B8DDFF;
}

.dark_blue_back {
    background-color: #0084FF;
}

.white_back {
    background-color: white;
}

.darker_purple {
    color: #464468;
}



@media only screen and (min-width:700px) {
    body>main {
        width: 700px;
    }

    #tablet_2 {
        grid-template-columns: 1fr 1fr 1fr;
        padding-left: 0px;
        width: 670px;
        justify-items: center;
        align-items: center;
    }

    #tablet_2>article {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 12px;
        padding-bottom: 50px;
    }



    #tablet_1 {
        grid-template-columns: 2fr 1fr;
        justify-items: start;
        max-width: 700px;
        margin-left: -7px;
    }

    #app_article {
        grid-template-columns: 2fr;
        width: 95%;
    }

    #icon_article>div {
        height: 100%;
        margin: 0;
        padding: 0;
        margin-top: -48px;
        padding-bottom: 35px;
    }

    #icon_article>article {
        grid-template-columns: 1fr 1fr 1fr;
    }

    #planning_article img {
        width: 500px;
    }

    #small_arrow img {
        width: 50px;
    }

    #testimonials>div {
        padding-left: 70px;
    }

    #testimonials h2 {
        margin: 0px;
        margin-left: -30px;
        margin-top: 120px;
        position: absolute;
    }

    #testimonials p {
        width: 90%;
        padding-top: 10px;
        padding-left: 10px;
        grid-template-columns: 1fr 1fr;

    }

    #leftquote1,
    #leftquote2,
    #leftquote3 {
        order: 2;
        margin-bottom: 40px;
        margin-left: -183px;
        position: absolute;
    }

    #rightquote1,
    #rightquote2,
    #rightquote3 {

        margin-bottom: -107px;
        margin-left: 387px;
        position: absolute;
    }

    #rightquote1 {
        margin-left: 430px;
    }

    #testimonials>article {
        grid-template-columns: 1fr 2fr;
        padding-bottom: 10px;
    }

    #working_benefits>article {
        grid-template-columns: 1fr;
    }

    #desktop_1>h1 {
        font-size: 50px;
    }

    #app_dev {
        width: 600px;
    }

    #titlepush {
        grid-column: span 2;
    }

    #tablet_3 {
        grid-template-columns: 1fr;
    }

    #working_benefits {


        grid-template-columns: 1fr 1fr;
    }

    #working_benefits article {
        padding: 10px;
        margin: 10px;
    }

    #more_button {
        width: 120px;
    }

    #benefits_title {
        grid-template-columns: 1fr;
    }

    #tablet_4 {
        grid-template-columns: 2fr 1fr;
        max-width: 670px;
    }


    #about_us {
        grid-template-columns: 1fr;
    }

    #boss_quote {
        max-width: 100%;

    }



    #bossman>div.head_shot {
        position: absolute;
    }

    #left_quote {
        padding-left: 220px;
    }

    #bossman {
        grid-template-columns: 1fr;
    }

    #get_started {
        width: 670px;
    }

    #testemonials {
        width: 670px;
    }

}

@media only screen and (min-width:1100px) {
    body>main {
        width: 1100px;
    }

    #tablet_1 {
        grid-template-columns: 2fr 1fr;
        justify-items: start;
        max-width: 1100px;

    }



    #Appstore {
        width: 300px;
    }

    #tablet_2 {
        grid-template-columns: 1fr 1fr 1fr;
        padding-left: 0px;
        width: 1100px;
        justify-items: center;
        align-items: center;
    }

    #planning_article {
        grid-template-columns: 1fr 1fr;
    }

    #app_dev {
        grid-row: span 2;
        margin-top: 350px;
    }

    #planning_article img {
        width: 300px;
    }

    #desktop_1 {
        order: 2;
    }

    #small_arrow img {
        width: 50px;
    }

    #testimonials {
        grid-template-columns: 1fr;
    }

    #testimonials>article {
        grid-template-columns: 1fr 2fr;
        padding-bottom: 10px;
        width: 900px;
        margin-left: 100px;
    }

    #titlepush {
        grid-column: span 3;
    }

    #tablet_4 {
        grid-template-columns: 2fr 1fr;
        max-width: 1100px;
    }

    #testimonials>div {
        max-width: 1100px;
    }

    #leftquote1,
    #leftquote2,
    #leftquote3 {
        order: 2;
        margin-bottom: 40px;
        margin-left: -240px;
        position: absolute;
    }

    #rightquote1 {

        margin-bottom: -107px;
        margin-left: 675px;
        position: absolute;
    }

    #rightquote2 {

        margin-bottom: -107px;
        margin-left: 240px;
        position: absolute;
    }

    #rightquote3 {

        margin-bottom: -107px;
        margin-left: 675px;
        position: absolute;
    }

    #working_benefits {
        grid-template-columns: 1fr 1fr 1fr;
    }

    #get_started {
        width: 1100px;
    }

    footer p {
        text-align: center;

    }
}